.fab-white{
	font-size:24px;
	color:#fff;
}
.fab-dark{
	font-size:24px;
	color:#4c4c4c;
}
.fa-fw {
	width: 1.28571429em;
	text-align: center;
}

.fa-facebook-square:hover {
	color:#3b5998;
}
.fa-instagram:hover {
	color:#c32aa3;
}
.fa-twitter-square:hover {
	color:#1da1f2;
}
.fa-linkedin:hover {
	color:#007bb5;
}
.linked-in-color {
	color:#4c4c4c;
}
.linked-in-color:hover i{
	color:#007bb5;
}
.facebook-in-color {
	color:#4c4c4c;
}
.facebook-in-color:hover i{
	color:#3b5998;
}
.twitter-in-color {
	color:#4c4c4c;
}
.twitter-in-color:hover i{
	color:#1da1f2;
}
.instagram-in-color {
	color:#4c4c4c;
}
.instagram-in-color:hover i{
	color:#c32aa3;
}


@media (min-width: 48em) {

}
