html, body {
	height: 100%;
	margin: 0;
	font-family: 'Krub', sans-serif;
	margin-top: 10px;
	line-height: 1.6;
	color:#4c4c4c;
	scroll-behavior: smooth;
	opacity: 1;
	animation: fadeIn 1s ease;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
}

.no-margin{
	margin-bottom:0px ;
}

.left {
	text-align:left;
}

/* nav */

.center-content {
	display: inline-block;
}

.bg-2 {
	background-color:#EBEBEB;
	color: #4c4c4c;
}

.margin-right {
	margin-right:15px;
	padding-right:5px;
}

#home {
	height:100vh;
}
