body {
  margin-top: 115px;
  font-family: 'Krub', sans-serif;
}



.topnav {
  display: flex;
    align-items: center;
    flex-direction: row;
  visibility: visible;
  overflow: hidden;
  background-color: #FFF;

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


.logo-mobile {
  position:fixed;
  left:0px;
}

.mobilenav{
  display: flex;
  flex-direction: column;
  visibility:hidden;
  overflow: hidden;
  background-color: #FFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


.mobilenavresponsive{
  display: flex;
  flex-direction: column;
  justify-content:center;
  overflow: hidden;
  background-color: #FFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.mobilenavresponsive a{
padding:20px;
text-decoration:none;
text-align:center;
color:#333;
}

@media only screen and (max-width: 600px) {

  .mobilenav a:not(:first-child) {
    display: none;
  }

  .topnav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    visibility:visible;
    display: flex;
    flex-direction: column;
  }

  .mobilenav{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    visibility:visible;
    display: flex;
    flex-direction: column;
  }



  .mobilenav.responsive {position: relative;}
  .mobile.responsive a.logo-mobile {
    position: absolute;
    left: 0;
    top: 0;
    padding:0px;
  }
  .mobile.responsive a {
    display: block;
  }

  .mobile.responsive a:nth-child(1) {
        top: 0px;
        float:left;
    }
    .mobile.responsive a:nth-child(2) {
          top: 80px;

      }

      .container-hamburger {
        padding:10px;
        display: inline-block;
        cursor: pointer;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        right:0px;
      }

}






.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.mobilenav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.mobilenav a:hover {
  background-color: #ddd;
  color: black;
}

.mobilenav a.active {
  background-color: #4CAF50;
  color: white;
}

@media only screen and (min-width: 600px) {
.container-hamburger {
  padding:10px;
  visibility: hidden;
  cursor: pointer;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  right:0px;
}
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
